@import 'tailwindcss';

@theme {
  --color-black: #111322;
  --color-gray50: #7d7986;
  --color-gray40: #a4a1aa;
  --color-gray30: #cbc9cf;
  --color-gray20: #e5e4e7;
  --color-gray10: #f2f2f3;
  --color-gray5: #fafafa;
  --color-white: #ffffff;

  --color-red40: #ff4040;
  --color-red30: #ff8d72;
  --color-red20: #ffaf9b;
  --color-red10: #ffebe7;

  --color-blue20: #0080ff;
  --color-blue10: #cce6ff;

  --color-green20: #20a81e;
  --color-green10: #d4f7d4;

  --color-kakao: #fee500;
}
